<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			Powered By <a href="https://github.com/ChrisJaunes" target="_blank"> ChrisJaunes </a> |
			Hexo Powered By <a href="https://hexo.io/zh-cn/" target="_blank">hexo</a> |
			Theme Powered by ChrisJaunes 
	</p>
	<p class="footer-intro">
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
		<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次 &nbsp;|&nbsp;</span>
		<span id="busuanzi_container_site_uv">访客数<span id="busuanzi_value_site_uv"></span>人次&nbsp;|&nbsp;</span>
		<span id="busuanzi_container_page_pv">本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>
	</p>
</footer>



